\set ON_ERROR_STOP on
\pset pager off

\echo ============================================================
\echo 11-E.32-FIX-RETEST-V2 VERIFY
\echo ============================================================

\echo
\echo === 01. RUN ===

SELECT
    run_id,
    status,
    current_stage,
    attempt,
    error_code,
    error_message
FROM production_run
WHERE run_id = 'RUN-11E32-FIX-RETEST-V2';

\echo
\echo === 02. STAGE ===

SELECT
    stage_id,
    run_id,
    status,
    attempt,
    retryable,
    error_code,
    error_message
FROM production_stage
WHERE stage_id = 'STG-11E32-FIX-RETEST-V2';

\echo
\echo === 03. RUN ERROR EVENTS ===

SELECT COUNT(*) AS run_error_event_count
FROM production_run_event
WHERE run_id = 'RUN-11E32-FIX-RETEST-V2'
  AND event_type = 'RUN_ERROR';

\echo
\echo === 04. STAGE ERROR EVENTS ===

SELECT COUNT(*) AS stage_error_event_count
FROM production_stage_event
WHERE run_id = 'RUN-11E32-FIX-RETEST-V2'
  AND event_type = 'STAGE_ERROR';

\echo
\echo === 05. RUN EVENTS ===

SELECT
    id,
    event_type,
    from_status,
    to_status,
    stage,
    attempt,
    event_data
FROM production_run_event
WHERE run_id = 'RUN-11E32-FIX-RETEST-V2'
ORDER BY id;

\echo
\echo === 06. STAGE EVENTS ===

SELECT
    id,
    event_type,
    from_status,
    to_status,
    stage_name,
    attempt,
    event_data
FROM production_stage_event
WHERE run_id = 'RUN-11E32-FIX-RETEST-V2'
ORDER BY id;

\echo
\echo === 07. CONSISTENCY ===

SELECT *
FROM public.validate_run_stage_consistency(
    'RUN-11E32-FIX-RETEST-V2'
);

\echo
\echo === 08. EXPECTED FINAL STATE ===

SELECT
    CASE
        WHEN EXISTS (
            SELECT 1
            FROM production_run
            WHERE run_id = 'RUN-11E32-FIX-RETEST-V2'
              AND status = 'ERROR'
        )
        THEN 'PASS'
        ELSE 'FAIL'
    END AS run_error_state,

    CASE
        WHEN EXISTS (
            SELECT 1
            FROM production_stage
            WHERE stage_id = 'STG-11E32-FIX-RETEST-V2'
              AND status = 'ERROR'
        )
        THEN 'PASS'
        ELSE 'FAIL'
    END AS stage_error_state,

    CASE
        WHEN (
            SELECT COUNT(*)
            FROM production_run_event
            WHERE run_id = 'RUN-11E32-FIX-RETEST-V2'
              AND event_type = 'RUN_ERROR'
        ) = 1
        THEN 'PASS'
        ELSE 'FAIL'
    END AS exactly_one_run_error_event,

    CASE
        WHEN (
            SELECT allowed
            FROM public.validate_run_stage_consistency(
                'RUN-11E32-FIX-RETEST-V2'
            )
        )
        THEN 'PASS'
        ELSE 'FAIL'
    END AS consistency;

\echo
\echo ============================================================
\echo VERIFY END
\echo ============================================================
